<div id="modal-form-users" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
  </div>
  <div id="user-form">
    <%= render :partial =>"/devise/registrations/form_sign_up" %>
  </div>
</div>