<div class="container-fluid" id="container">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content--asdsadas> asdsadasd
    </div>
    <div class="span10">
      <!--Body content-->   sdasdasda
    </div>
  </div>
</div>