<div class="container-fluid" id="container"></br>
  <%= render :partial => "shared/tbar_dashboard" %>
    <div class="span2">
      <a class="btn btn-success" href="/clients" >Clientes</a>
    </div>
    <div class="span2">
      <a class="btn btn-warning" href="/folios">Folios</a>
    </div>
    <div class="span2">
      <a class="btn btn-danger" href="/resumes">Facturas</a>
    </div>
    <div class="span2">
      <a class="btn btn-inverse" href="">Resumen</a>
    </div>
</div>
