<div class="alert alert-error span5">
  <a class="close" data-dismiss="alert">×</a>
  <h4 class="alert-heading">Warning!</h4>
  <%  resource.errors.each do |error,value| %>
      <%= error.to_s + value.to_s %>
  <% end %>
</div>