<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag ("logo.png"), :size => "30x30" %>
      <span style="color: #999; font-size: 2em">Codetlan</span>
    </div>
  </div>
</div>